code {
  color: #000;
}

.alert-info code {
  color: #3a87ad;
  padding: 2px 0px 2px 4px;
  background-color: #d9edf7;
  border: none;
}

/*From Bootstrap's docs.css*/
.footer {
  text-align: center;
  padding: 20px 0;
  margin-top: 70px;
  /*border-top: 1px solid #e5e5e5;*/
  background-color: #f5f5f5;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}
